<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PortMainScaleTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <PortMainScaleTest.Properties.Settings>
            <setting name="ManualCOMsettings" serializeAs="String">
                <value />
            </setting>
            <setting name="PLCOMsettings" serializeAs="String">
                <value />
            </setting>
            <setting name="packLineNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="locationCHKW" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBoxSaveToNewFormat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoGenerateReport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sendReportAtHour" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="sendReportAtMinute" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="isBarcodeChecker" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="barcodeCheckerCount" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="barcodeCheckerCountType" serializeAs="String">
                <value>ea</value>
            </setting>
        </PortMainScaleTest.Properties.Settings>
    </userSettings>
</configuration>